@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Libre+Baskerville&display=swap');

body{
    
    background-image: linear-gradient(to top, rgb(51, 50, 50), rgb(107, 109, 107));
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(75, 77, 76));
    color: white;
    padding: 10px;
    
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.342);
   

}
main{
    background-color: white;
    max-width: 900px;
    min-width: 250px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.555);
    border-radius: 10px 10px 0px 0px ;
}
                            /*inicio docabeçalho*/
h1{ 
    margin: auto; /*alteração*/
    display: block;/*alteração*/
    width: 65vh; /*alteração valor anterior 100vh*/
    font-family: 'Libre Baskerville', serif;
    margin-top: -107px;
    margin-bottom: 65px;
    padding-top: -100px;
    text-align: center;
    
}

.header{
    display:block;
    margin-top: 10px;
    margin-left: 10px;
    width: 30px;
}
header > div {
    display: block;
    width: 100vh;
    margin: auto;

   
}
.cabeca{ /*configuração do h2 do cabeçalho*/
    margin: auto; /*alteração*/
    display: block;/*alteração*/
    width: 65vh; /*alteração*/
    margin-top: -45px;
    margin-bottom: 55px;
    padding-top: -100px;
    text-align: center;
    font-size: 15px;
}
.cabeca > a:hover { 
    text-decoration: underline;
    color: yellow;
}

                                /*fim docabeçalho*/
h2{
    font-size: 10px;
   

}
h3{
    
    background-color: rgb(44, 41, 41);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
a{
    text-decoration: none;
    color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.342);
}

pre{
    color: blue;
}

    
p{  text-align: justify;
    padding: 10px;
}

img{ /*Configuração do imagem*/
     display: block;
     margin: auto;
     border-radius: 10px;
     box-shadow:10px 10px 10px rgba(0, 0, 0, 0.555) ;
    
}

ul{ /*Configuração do geral das listas*/
    
    border-radius:10px;
    background-color: bisque;
    width: 200px;
    padding: 30px;
    margin-top: -10px;
    margin-left: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.555);
}
.dica{ /*Configuração do menu supenso das listas personalizadas*/
    display: inline;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.555);
    background-color: rgb(37, 36, 36);
    color: black;
    padding: 10px;
    margin-bottom: -10px; 
    width: 237px;
    margin-left: 12px;
    border-radius: 10px;
    color: white;
    font-family: 'Chakra Petch', sans-serif;

 
}
.cabecalho{ /*Configuração do h3 para cabeçalho*/
     border-radius: 0px;
                          
     background-image: linear-gradient(to right, rgba(2, 2, 2, 0.678), rgba(202, 207, 202, 0.842));

}

nav {
    padding-top: 10px; /*Configuração do menu*/
    margin: auto;
    max-width: 600px;
    min-width: 250px; 
     }
.menu{ /*Configuração do menu*/
        border-radius: 0px 0px 10px 10px;
        padding: 10px;
        background-color: rgb(44, 41, 41);
    }
.menu:hover{ /*Configuração do menu ( torna o fundo braco e letra preta quando mouse passa*/
     background-color: rgb(255, 238, 3);
     color: black;
     
 }
 span{ /*Configuração do pre code deixando uma linha do codigo em vermelho*/
     color: rgb(250, 4, 4);
      
 }
 .coluna { /*Configuração do posicionamento da imagem*/
     display: inline-block;
     left: 100px;
     margin: -210px 300px 0px 350px;

 }
 .aolado{ /*Configuração do div das listas*/

           display: inline-block;
           padding-left: 20px;
          
 } 
 /*Configuração rodape*/
footer { /*Configuração geral rodapé*/
  
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
   
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(31, 32, 32));
    color: white;
    text-align: center;
    border-radius:  0px 0px 10px 10px;
}
 
#corpo{ /*Configuração do corpo do rodape*/
         margin: auto;/*alteração*/
         display: block;/*alteração*/
         width: 100vh;/*alteração*/
             
}
.foto{ /*Configuração da imagem do rodape*/
       width:300px ;
}

#texto{ /*Configuração do texto do rodapé*/
    margin-top: -140px;
    margin-left: 120px;
    width: 160px;
    display:block;
    color: rgb(238, 236, 236);
    font-family: 'Libre Baskerville', serif;
}
.texto{
    padding-top: 30px;
}
#foto{ /*Configuração da foto do rodapé*/
   
    margin-left: 0px;
    border-radius: 100px;
    width: 100px;/*alteração*/
    
}
 .rodape {
    font-family: 'Libre Baskerville', serif; 
 
 }
 .rodape > p{
   
    text-align: center ;
    margin-top: -72px;
  

 }
    
.rede::before {
             content: url(icon.png);
             border-bottom: 0px;
             text-align: center;
               }

.face::before{
    content: url(face.png);
}

